{% extends 'base.html' %}

{% block title %}Home - VoiceQHub{% endblock %}

{% block header %}Homepage{% endblock %}

{% block content %}
  <div class="container mt-4 recent-uploaded">
    <h2>Recently Uploaded</h2>
    <div id="recent-ps-list" class="row">
    </div>
  </div>

  <div class="container mt-4 separation-line">
    <div class="line"></div>
  </div>

  <div class="container mt-4 saved">
    <h2>Saved Problems</h2>
    <div id = 'saved-ps-list' class="row">
    </div>
  </div>
  
  <div class="container mt-4 separation-line">
    <div class="line"></div>
  </div>

  <div class="container mt-4 my">
    <h2>My Problems</h2>
    <div id="my-ps-list" class="row">
    </div>
  </div>
  <script src="{{ url_for('static', filename='javascript/index.js') }}"></script>
{% endblock %}
